.popup {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    display: none;
}