.popup__input {
    width: calc(100% - (36px * 2));
    padding: 30px 0 9px;
    margin: 0 36px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: calc(100% - (22px * 2));
        padding: 32px 0 10px;
        margin: 0 22px;
    }
}