.page {
    background-color: #000000;
    margin: 0;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header {
    max-width: 880px;
    min-height: 74px;
    margin: 25px auto 40px;
    border-bottom: 1px solid rgba(54,54,54,.7);
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        min-height: 56px;
        margin: 0 auto 38px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 28px 0 38px;
    }
}

.header__logo {
    height: 33px;
    width: 142px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 28px;
    }
}


.profile {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .profile {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        max-width: 320px;
    }
}

.profile__avatar {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        flex-direction: column; 
        max-width: 320px;
    }
}

.profile__intro {
    flex-direction: column;
    padding-left: 27px;
}

@media screen and (max-width: 767px) {
    .profile__intro {
        flex-direction: column;
        align-items: center;
        max-width: 320px;
    }
}

.profile__name {
    padding-right: 16px;
    display: inline-block;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    color: #FFFFFF;    
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        padding-right: 8px;
        padding-top: 26px;
    }

}

.profile__button_type_edit {
    vertical-align: 0.6em;
    width: 24px;
    height: 24px;
    background-image: url(./images/pen.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__button_type_edit {
        vertical-align: 0.5em;
        width: 18px;
        height: 18px;
        padding: 0;
    }
}


.profile__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 16px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
        padding-top: 8px;
    }

}

.profile__button {

}




.profile__button_type_add {
    margin: 10px 0;
    width: 150px;
    height: 50px;
    background-image: url(./images/plus.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .profile__button_type_add {
        width: 282px;
        margin: 32px 0 36px;
    }

}


.elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
    padding: 49px 0 67px;
}

@media screen and (max-width: 1023px) {
    .elements {
        max-width: 720px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 767px) {
    .elements {
        padding: 36px 0 48px;
        grid-template-columns: repeat(1, 282px);
        gap: 20px 0;
        max-width: 282px;
        padding: 0;
    }
}

.element__item {


}

.element {
    border-radius: 10px 10px 0 0;
    display: block;


}

.element__info {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin: 0;
    padding: 25px 20px;
}

.element__description {
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: #000000;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elements__like {
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(./images/like.svg);
    cursor: pointer;
}

.elements__like-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements__like_active {
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(./images/like_active.png);
    cursor: pointer;
}

.elements__like-counter {
    margin: 0;
}

.footer {
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}


@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
    }
}

.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        padding: 48px 0 36px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5);
    display: none;
}

.popup__opened {
    display: block;
}

.popup__container {
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    width: 90vw;
    max-width: 430px;
    margin: 195px auto 0;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        margin: 123px auto 0;
    }
}

.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}

.popup__title {
    padding: 34px 0 0 36px;
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .popup__title {
        padding: 25px 0 0 22px;
        font-size: 18px;
        line-height: 21.78px;
    }
}

.popup__name {
    max-width: 358px;
    padding: 54px 0 13px 0;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 17px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 0 0 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__name {
        margin: 0 22px 0;
        padding: 75px 0 13px 0;
        font-size: 14px;
        line-height: 16.94pxpx;
    }
}

.popup__description {
    max-width: 358px;
    padding: 30px 0 13px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    margin: 0 0 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__description {
        margin: 0 22px 0;
        padding: 30px 0 13px;
        font-size: 14px;
        line-height: 16.94pxpx;
    }
}

.popup__save {

}

.popup__save_active {
    margin: 48px 36px 37px;
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .popup__save_active {
        margin: 45px 22px 25px;
        width: 238px;
        height: 46px;
    }
}

.popup__save_active:hover {
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
    cursor: pointer;
}

/* { outline: 1px solid yellow; } 