.popup__container {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 90vw;
    max-width: 430px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
    }
}