.popup__input-error {
    box-sizing: border-box;
    color: #f00;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    min-height: 36px;
    padding-top: 5px;
    margin: 0 36px;
}