.header {
    max-width: 880px;
    min-height: 74px;
    margin: 25px auto 40px;
    border-bottom: 1px solid rgba(54,54,54,.7);
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        min-height: 56px;
        margin: 0 auto 38px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 28px 0 38px;
    }
}