.popup__description {
    max-width: 358px;
    padding: 30px 0 13px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    margin: 0 0 0 36px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__description {
        margin: 0 22px 0;
        padding: 30px 0 13px;
        font-size: 14px;
        line-height: 16.94pxpx;
    }
}