.profile__button_type_add {
    margin: 10px 0;
    width: 150px;
    height: 50px;
    background-image: url(../../../../images/plus.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
}

.profile__button_type_add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__button_type_add {
        width: 282px;
        margin: 32px 0 0;
        background-size: 16px 16px, contain;
    }
}