.elements__description {
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: #000000;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}