.elements__info {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin: 0;
    padding: 25px 20px;
}