.elements__info {
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    margin: 0;
    padding: 25px 20px;
}