.elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
    padding: 49px 0 67px;
}

@media screen and (max-width: 1023px) {
    .elements {
        max-width: 720px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 767px) {
    .elements {
        padding: 36px 0 48px;
        grid-template-columns: repeat(1, 282px);
        gap: 20px 0;
        max-width: 282px;
        padding: 0;
    }
}