.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/close.svg);
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-size: contain;
        background-position: center;
    }
}
