.profile__name {
    max-width: calc(100% - 44px);
    padding-right: 16px;
    display: inline-block;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__name {
        width: 100%;
        font-size: 27px;
        line-height: 33px;
        padding-right: 8px;
        padding-top: 26px;
    }
}