@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__intro/profile__intro.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__button/_type/profile__button_type_edit.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__button/_type/profile__button_type_add.css');

@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__item/elements__item.css');
@import url('../blocks/elements/__delete/elements__delete.css');
@import url('../blocks/elements/__image/elements__image.css');
@import url('../blocks/elements/__info/elements__info.css');
@import url('../blocks/elements/__description/elements__description.css');
@import url('../blocks/elements/__like/elements__like.css');
@import url('../blocks/elements/__like/_active/elements__like_active.css');
@import url('../blocks/elements/__like-area/elements__like-area.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_theme/popup_theme_light.css');
@import url('../blocks/popup/_theme/popup_theme_dark.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__image/popup__image.css');
@import url('../blocks/popup/__image-gallery/popup__image-gallery.css');
@import url('../blocks/popup/__image-name/popup__image-name.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__save/popup__save.css');