.profile__info {
    width: calc(100% - 150px);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        width: 100%;
        flex-direction: column;
        max-width: 320px;
    }
}